

html, body {
    height: 100%;
}

body {
    font-size: 16px;
    background-color: black;
    color: rgb(0, 0, 0);
    display: grid;
    justify-items: center;
    animation: main-transition 1.5s ease-in forwards;
}

@keyframes main-transition {
    from {
        color: rgb(0, 0, 0, 0)
    }

    45% {
        color: rgb(0, 0, 0, 0)
    }

    to {
        color: rgb(250, 235, 215);
    }   
}

.page-wrap {
    font-size: 18px;
    display: grid;
    gap: 3vh;
    width: 90%;
    /* max-width: 90%; */
}

@media  (min-width: 500px){
    .page-wrap {
        max-width: 75%;
    }
    
    body {
        font-size: 20px;
    }
}

a {
    color: aqua;
    font-size: 1.2em;
    animation: a-transition 2.8s ease-in forwards;
    width: fit-content;

}


@keyframes a-transition {
    from {
        color: rgb(0, 255, 255, 0)
    }

    45% {
        color: rgb(0, 255, 255, 0)
    }

    to {
        color: rgb(0, 255, 255)
    }   
}


.title {
    justify-self: center;
    align-self: center;
    font-size: 2.3em;
    margin-top: 2vh;
}

.name {
    font-size: 1.5em;
    justify-self: center;
    align-self: stretch;
}

.contact {
    display: grid;
    margin: 2vw;
}

.primary-work-type {
    margin: 1vw;
}

.starter-info {
    display: grid;
    gap: 1vh
}