

html, body {
    height: 100%;
    font-size: 16px;
}

body {
    background-color: rgb(255, 255, 255);
    color: antiquewhite;
    display: grid;
    /* justify-items: center; */
    animation: bg-transition 1.5s ease-in forwards
}

@keyframes bg-transition {

    from {
        background-color: white;
        color: rgb(0, 0, 0, 0)
    }

    15% {
        background-color: white;
    }

    45% {
        background-color: black;
        color: rgb(0, 0, 0, 0)
    }

    to {
        background-color: black;
        color: antiquewhite;
    }
    

    
    
}


.title {
    justify-self: center;
    align-self: center;
    font-size: 1.8em;
    margin-top: 2vh;
}