

html, body {
    height: 100%;
    font-size: 16px;
}

body {
    background-color: black;
    color: rgb(0, 0, 0);
    display: grid;
    /* justify-items: center; */
    animation: main-transition 1.5s ease-in forwards
}

a {
    color: aqua;
    animation: a-transition 2.8s ease-in forwards
}

@keyframes main-transition {
    from {
        color: rgb(0, 0, 0, 0)
    }

    45% {
        color: rgb(0, 0, 0, 0)
    }

    to {
        color: antiquewhite;
    }   
}

@keyframes a-transition {
    from {
        color: rgb(0, 255, 255, 0)
    }

    45% {
        color: rgb(0, 255, 255, 0)
    }

    to {
        color: rgb(0, 255, 255)
    }   
}


.title {
    justify-self: center;
    align-self: center;
    font-size: 1.8em;
    margin-top: 2vh;
}